@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

ul, a, li{
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 20px;
}

.hero {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 50px;  
    padding-block: 100px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #e5e7eb;
}

h2 {
    font-size: 18px;
    color: #1f2937;
}

.hero-text, .hero-img {
    width: 50%;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;  
    margin-block: 20px;
}

.hero-text button {
    border: none;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 10px;
}

.hero-text button:hover {
    border: 2px solid #e5e7eb;
    background-color: #1f2937;;
    color: #e5e7eb;
    font-size: 20px;
    padding: 18px 38px; 
} 

.header {
    padding-top: 30px;
    background-color: #1f2937;
}

.image {
    vertical-align: middle;
    font-size: 30px;
    color: black;
    background-color: beige;
    height: 350px;
    border-radius: 10px;
}

.image p {
    text-align: center;
    line-height: 350px;
}

.info-section {
    margin: auto;
    max-width: 1200px;  
    padding-block: 100px;
}

.info-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    border-radius: 10px;
    height: 120px;
    width: 120px;
    border: 2px solid black;
}

.icons { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-block p{
    max-width: 220px;
    margin-top: 20px;
    text-align: center;
}

.quote-section {
    padding-block: 50px;
    background-color: #e5e7eb;
}

.quote-text {
    font-weight: 200;
    color: #1f2937;
    margin: auto;
    max-width: 1200px;  
    padding-block: 50px;
    font-size: 30px;
}

.quote-author {
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    float: right;
    color: #1f2937;
}

.cta-section {
    padding-block: 100px;
}

.cta-block h2 {
    color: #e5e7eb;
}

.cta-block {
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 10px;
    margin: auto;
    height: 20vh;
    max-width: 1200px;
    background-color: #3882f6;
}

.cta-btn button {
    border: none;
    background-color: #e5e7eb;
    color: #3882f6;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 10px;
}

.cta-btn button:hover {
    border: 2px solid #e5e7eb;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 20px;
    padding: 18px 38px; 
} 

.footer {
    display: flex;
    justify-content: center;
    padding-block: 50px;
    color: #e5e7eb;
    background-color: #1f2937;
}