@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}


* {
    margin: 0;
}


body {
    background-color: rgb(247, 247, 247);
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disclaimer {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    bottom: 10px;
  }

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    ;
}

.image {
    width: 35vw;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.logo {
    padding-block: 50px;
    top: 285px;
    height: 20vh;
    width: 35vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 200px;
    width: auto;
}

.logo-text {
    color: #fff;
    font-size: 9em;
    font-family: norse-bold;
}

.text-block {
    font-size: 24px;
    max-width: 35vw;
    margin-left: 40px;
    margin-bottom: 40px;
}

.text-block:first-child p {
    margin-bottom: 20px;
}

.singup-block {
    padding-inline-start: 40px;
    background-color: #fff;
    height: 50vh;
    width: 100vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-content: center;
}

.singup-block label {
    font-weight: 600;
    font-size: 18px;
}

.singup-block input {
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 7px 30px;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: #1b27cc;
    outline-color: #1b27cc;
  }  

.inputs-block {
    display: flex;
    gap: 50px;
    flex-direction: row;
}

.inputs-rows {
    display: flex;
    flex-direction: column;
}

.inputs-rows>label {
    padding-block: 20px 5px;
}

.cta-block {
    margin-top: 40px;
    margin-left: 40px;
}

.cta-block p {
    font-size: 18px;
}

button {
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: rgb(10, 80, 16);
    padding: 15px 70px;
    margin-bottom: 20px;
}